<body *ngIf="reposLoaded === true">
    <p>Visit My Github Page @ <a href="https://github.com/mattbechtel">https://github.com/mattbechtel</a> </p>
    
    <p>Project links:</p>

    <div *ngIf="reposLoaded; else notLoaded">
        <tr *ngFor="let repo of repos">
            <td class="repo-name">{{repo?.name}}</td> <td class="repo-link"><a href={{repo?.html_url}}>{{repo?.html_url}}</a></td>
        </tr>
    </div>    

    <ng-template #notLoaded>
        Failed to load projects from Github. Please visit my page.
    </ng-template>
    <br>
    <object
        data="./assets/projectsNarrative.pdf"
        type="application/pdf"
        style="height:calc(100vh - 300px)"
        width="100%"
    >
    </object>
</body>
