<html>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="projects">Projects<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="cumulativeReflection">Cumulative Reflection<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="ethicsEssay">Ethics Essay<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="genEdReflection">General Education Reflection<span class="sr-only">(current)</span></a>
        </div>
    </nav>
    
    <body class="dashboard-body" *ngIf="router.url === '/dashboard'">
        <h1 class="dashboard-h1">About Me</h1>
    </body>
    
    <router-outlet></router-outlet>
</html>

